<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.ItemMapper">
    <update id="updateItem" parameterType="com.school.entity.Item">
        update item
        <set>
            <if test="itemName != null">
                    item_name = #{itemName},
            </if>
            <if test="itemCode != null">
                    item_code = #{itemCode},
            </if>
            <if test="itemCategoryId != null">
                    item_category_id = #{itemCategoryId},
            </if>
            <if test="specification != null">
                    specification = #{specification},
            </if>
            <if test="unit != null">
                    unit = #{unit},
            </if>
            <if test="warehouseId != null">
                    warehouse_id = #{warehouseId},
            </if>
            <if test="currentStock != null">
                    current_stock = #{currentStock},
            </if>
            <if test="safeStock != null">
                    safe_stock = #{safeStock},
            </if>
            <if test="buyTime != null">
                    buy_time = #{buyTime},
            </if>
            <if test="buyPrice != null">
                    buy_price = #{buyPrice},
            </if>
            <if test="departmentId != null">
                    department_id = #{departmentId},
            </if>
            <if test="itemStatus != null">
                    status = #{itemStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="itemResultMap" type="com.school.vo.item.SelectItemVO">
        <result property="id" column="id"/>
        <result property="itemName" column="item_name"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemCategoryId" column="item_category_id"/>
        <result property="specification" column="specification"/>
        <result property="unit" column="unit"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="currentStock" column="current_stock"/>
        <result property="safeStock" column="safe_stock"/>
        <result property="buyTime" column="buy_time"/>
        <result property="buyPrice" column="buy_price"/>
        <result property="departmentId" column="department_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="pageQueryItem" resultMap="itemResultMap">
        SELECT id, item_name, item_code, item_category_id,
        specification, unit, warehouse_id, current_stock,
        safe_stock, buy_time, buy_price, department_id, status
        FROM item
        <where>
            <if test="pageSelectItemDTO.itemName != null ">
                item_name LIKE CONCAT('%', #{pageSelectItemDTO.itemName}, '%')
            </if>
            <if test="pageSelectItemDTO.itemCode != null ">
                AND item_code LIKE CONCAT('%', #{pageSelectItemDTO.itemCode}, '%')
            </if>
            <if test="pageSelectItemDTO.itemCategoryId != null ">
                AND item_category_id = #{pageSelectItemDTO.itemCategoryId}
            </if>
            <if test="pageSelectItemDTO.specification != null ">
                AND specification LIKE CONCAT('%', #{pageSelectItemDTO.specification}, '%')
            </if>
            <if test="pageSelectItemDTO.unit != null ">
                AND unit LIKE CONCAT('%', #{pageSelectItemDTO.unit}, '%')
            </if>
            <if test="pageSelectItemDTO.warehouseId != null ">
                AND warehouse_id = #{pageSelectItemDTO.warehouseId}
            </if>
            <if test="pageSelectItemDTO.currentStock != null ">
                AND current_stock = #{pageSelectItemDTO.currentStock}
            </if>
            <if test="pageSelectItemDTO.safeStock != null ">
                AND safe_stock = #{pageSelectItemDTO.safeStock}
            </if>
            <if test="pageSelectItemDTO.buyTime != null">
                AND buy_time = #{pageSelectItemDTO.buyTime}
            </if>
            <if test="pageSelectItemDTO.buyPrice != null">
                AND buy_price = #{pageSelectItemDTO.buyPrice}
            </if>
            <if test="pageSelectItemDTO.status != null">
                AND status = #{pageSelectItemDTO.status}
            </if>
            <if test="departmentId != null">
                AND department_id = #{departmentId}
            </if>
        </where>
    </select>

</mapper>