<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.ItemBorrowMapper">

    <update id="updateItemBorrow">
        update item_borrow
        <set>
            status = #{status},
            remark = #{remark},
            actual_return_time = #{actualReturnTime}
            where id = #{id}
        </set>
    </update>
    <select id="pageQueryItemBorrow" resultType="com.school.vo.item.borrow.PageSelectItemBorrowVO">
        select *
        from item_borrow
        <where>
            <if test="borrowerUserName != null">
                borrower_user_name LIKE CONCAT('%', #{borrowerUserName}, '%')
            </if>
        </where>
    </select>
</mapper>