<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.school.vo.user.PageQueryUserVO">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userAccount" column="user_account"/>
        <result property="gender" column="gender"/>
        <result property="telephone" column="telephone"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="departmentId" column="department_id"/>
        <result property="statusEnum" column="status_enum"/>
        <association property="face" javaType="com.school.vo.file.FileDataVO">
            <id property="id" column="face" />
            <result property="name" column="file_name" />
        </association>
    </resultMap>
    <select id="pageQueryUser"  resultMap="userResultMap">
        SELECT
        u.id,
        u.user_name,
        u.user_account,
        u.telephone,
        u.gender,
        u.password,
        u.email,
        u.department_id,
        u.status_enum,
        f.id as face,
        f.file_name
        FROM user u
        LEFT JOIN file f ON u.image_address = f.id
        <where>
            <if test="userName != null">
               u.user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="userAccount != null">
                AND u.user_account LIKE CONCAT('%', #{userAccount}, '%')
            </if>
        </where>
        GROUP BY u.id
    </select>

    <update id="updateUser">
        UPDATE user
        <set>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="userAccount != null">
                user_account = #{userAccount},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="statusEnum != null">
                status_enum = #{statusEnum},
            </if>
            <if test="imageAddress != null">
                image_address = #{imageAddress}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <resultMap id="userBasicDataById" type="com.school.vo.user.CurrentUserDataVO">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="telephone" column="telephone"/>
        <result property="userAccount" column="user_account"/>
        <association property="face" javaType="com.school.vo.file.FileDataVO">
            <id property="id" column="face" />
            <result property="name" column="file_name" />
        </association>
    </resultMap>
    <select id="getUserBasicDataById" resultMap="userBasicDataById">
        SELECT
        u.id,
        u.user_name,
        u.telephone,
        u.user_account,
        u.gender,
        u.password,
        u.email,
        u.department_id,
        f.id as face,
        f.file_name
        FROM user u
        LEFT JOIN file f ON u.image_address = f.id
        <where>
            u.id=#{id}
        </where>
    </select>
    <select id="getUserLoginDataByAccount" resultType="com.school.bo.user.UserLoginVerifyData">
        SELECT
        u.id,
        u.user_name,
        u.user_account,
        u.password,
        ur.role_id
        FROM user u
        LEFT JOIN user_role ur ON u.id = ur.user_id
        <where>
            u.telephone=#{account} OR u.email=#{account}
        </where>
    </select>

    <select id="selectNoActivatedUser" resultType="com.school.vo.user.SelectNoActivatedUserVO">
        SELECT
        u.id,
        u.email
        FROM user u
        <where>
            <if test="email != null">
                email = #{email}
            </if>
            and u.status_enum = 2
        </where>
    </select>
</mapper>